{% extends "base.html" %}

{% block title %}統計圖表{% endblock %}
{% block headmessage %}城市人口統計圖表{% endblock %}
{% block main %}
  <hr>
    
    <form action="/chart/" method=POST>
        請選擇國家：
  	<select name="id">
  		<option value="999">全部顯示</option>
  		{% for country in countries %}
  			<option value="{{country.id}}">{{country.name}}</option>
  		{% endfor %}
  	</select>
  	{% csrf_token %}
  	<input type='submit' value="送出">
  </form>

  <canvas id="myChart" width="400" height="150"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: 
        {% autoescape off %}
        {{names}}
        {% endautoescape %}
        ,
        datasets: [{
            label: '城市人口排行',
        	  data: {{population}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}