<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      {% if request.user.is_authenticated %}
        {{ request.user.first_name }}
      {% else %}
        未登入的訪客
      {% endif %}
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://104.es">何老師的教材網</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            我的練習
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/news/">新聞摘要</a></li>
            <li><a class="dropdown-item" href="/rank/">國際城市人口排行</a></li>
            <li><a class="dropdown-item" href="/chart/">人口統計圖表</a></li>
            {% if request.user.is_authenticated %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/">管理後台</a></li>
            {% endif %}
          
          </ul>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout/" tabindex="-1">登出</a>
          </li>        
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/login/?next=/" tabindex="-1">登入</a>
          </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="搜尋">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>